body{
    
    display:flex;
    min-height:100vh;
    align-items:center;
    justify-content:center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  .title{
     text-align: center;
    color:white;
    font-size:22px; 
   }
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px;
    border:2px solid black;
    border-radius:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding-top:10px;
    background-color:black;
    color:gray;

  }
  .labels{
    color:gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
    margin-right:120px;
    
  }
  .Inputs{
    background-color: black;
    border: 1px solid gray;
    border-bottom:3px solid gray;
    border-radius:5px;
    margin-bottom:9px;
    padding-left:15px;
    width:220px;
    height:22px;
    color:white;
  }
  .forgot{
    color:white;
    margin-left:120px;
    margin-top:4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  }
  .forgot:hover{
    text-decoration: underline;
  }
  .btn{

    text-align:center;
    align-items:center;
    justify-content:center;
    height:30px;
    width:260px;
    border: 1px solid rgb(238, 82, 238);
    border-radius: 5px;
    background-color: rgb(238, 82, 238);
    cursor: pointer;
  }
  .btn:hover{
    color:white;
  }
  .social{
    text-align:center;
    align-items:center;
    justify-content:center;
    margin-bottom:0px;
  }
  .btn1{
    text-align:center;
    align-items:center;
    justify-content:center;
    background-color: black;
    color:gray;
    cursor: pointer;
    border:1px solid black;
  }
  .btn11{
    color:white;
  }
  .btn11:hover{
    text-decoration: underline;
  }
   .icons{
    margin:0px;
    
   }
  .twitter{
    display:inline-block;
    margin-left:50px;
    color:gray;
  }
  .twitter:hover{
color:white;
cursor:pointer;
  }

  /*
    label{
      text-align:left;
      padding:0.1rem 0; 
      margin:0.3rem;
    }  
  
    
  
  .register{
    margin-bottom:10px;
    padding-top:20px;
  }
  
  .Title{
    font-family:'Times New Roman', Times, serif;
    Color:black;
    font-size: 40px;
    margin-bottom:40px;
  }
  .email1{
    color:black;
    font-size:25px;
    float:left;
  }
  .RegisterLabels{
    color:black;
    font-size:18px;
    float:left;
    font-family:'Courier New', Courier, monospace;
  }
  .Regbtn{
    width:70px;
    height:30px;
    background-color: black;
    border:0px solid black;
    border-radius:3px;
   color:#eaccad;
   cursor:pointer;
   font-size:16px;
   margin-left:230px;
   margin-top:20px;
  }
  .LoginForm{
    font-family:'Courier New', Courier, monospace;

  }
  .Input1{
   background-color:#eaccad;
   width:140px;
   height:5px;
   margin-left:40px;
   border-top:0px solid black;
   border-left:0px solid black;
   border-right:0px solid black;
   border-bottom: 1px solid black;
  
   padding:1rem;
  
  }
  .Input3{
    margin-left:75px;
    padding:1rem;
    border-top:0px solid black;
    border-left:0px solid black;
    border-right:0px solid black;
    border-bottom: 1px solid black;
    background-color:#eaccad;
    width:140px;
    height:5px;
  }
  .Input2{
    margin:0.1rem 0;
    padding:1rem;
    border-top:0px solid black;
    border-left:0px solid black;
    border-right:0px solid black;
    border-bottom: 1px solid black;
    background-color:#eaccad;
    width:140px;
    height:5px;
    
   }
   
  
  .btn{
    width:70px;
    height:30px;
    background-color: black;
    border:0px solid black;
    border-radius:3px;
   color:#eaccad;
   cursor:pointer;
   font-size:16px;
   margin-left:230px;
  }
  
  .btn1{
  
    background-color: #eaccad;
    border:0px solid black;
   color:black;
  margin-top:40px; 
  cursor:pointer;
  }

  */
  
  
  